@model Venturada.UI.ViewModels.AboutUsViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>About us</li>
            </ol>
        </div>
    </div>
</div>
    @if (Session["UserName"]  != null)
    {
        @Html.Partial("_EditAboutUsPartial", Model.AboutUsModel)

        @Html.Partial("_EditPartnersPartial", Model.PartnersModel)

    }
    else
    {
        @Html.Partial("_NoAccess")
    }
    



