
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Message Sent
                <small>Message delivered, will reply in a while!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li> Message Sent</li>
            </ol>
        </div>
    </div>
</div>
